/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h5 {
  font-size: 1.6rem;
}

h2 {
  font-size: 2rem;
}
